What exactly is []?
 [] this indiactes a list

In [ ]:
k= []
print(type(k))

<class 'list'>

In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [ ]:
spam = [2,4,6,8,10]
spam.insert(2,"hello")
print(spam)

[2, 4, 'hello', 6, 8, 10]

Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.




What is the value of spam[int(int('3' * 2) / 11)]?
Ans:-first int('3'*2) gives 33 then divide by 11 gives 3 that int(33/11) = 3 . Then spam[3] = 'd' since spam = ['a','b','c','d']

In [ ]:
spam = ['a','b','c','d']
print(spam[int(int('3'*2)/11)])

d

What is the value of spam[-1]?
Ans : - spam[-1] means here index start from last like -1 , -2 ,-3 and -4 . so spam[-1] = 'd'

In [ ]:
print(spam[-1])

d

What is the value of spam[:2]?
Ans:- Since spam[:2] index will start from 0 to 1 excluding index 2 . so it will return ['a','b']

In [ ]:
print(spam[:2])

['a', 'b']

What is the value of bacon.index('cat')?

In [ ]:
bacon = [3.14,'cat',11,'cat',True]
print(bacon.index('cat'))

1

How does bacon.append(99) change the look of the list value in bacon?
Ans :- bacon.append(99) will add the value 99 to the list at the end of the existing list . After this operation list would be like [3.14,'cat',11,'cat',True,99]

In [ ]:
bacon = [3.14,'cat',11,'cat',True]
bacon.append(99)
print(bacon)

[3.14, 'cat', 11, 'cat', True, 99]

How does bacon.remove('cat') change the look of the list in bacon?

In [ ]:
bacon.remove('cat')
print(bacon)

[3.14, 11, 'cat', True, 99]

What are the list concatenation and list replication operators?
Ans - list concatanation : - we can use '+' operator list replication :- we can use '*'

for **concatenation**

In [ ]:
a=[1,2,3] b=[4,5,6] c=a+b

SyntaxError: invalid syntax (ipython-input-1563905825.py, line 1)

In [ ]:
c*3

NameError: name 'c' is not defined

What is difference between the list methods append() and insert()?
Ans:- The difference between append() and insert() is with append() method we can only add the value to the list at the end of the list but with insert() method we can at any spectific index means at any position

In [ ]:
a = [1,2,3]
a.append("skp")
print(a)
#suppost i want insert "skp" at 2nd position which is at index 1
b = [4,5,6]
b.insert(1,"skp")
print(b)

What are the two methods for removing items from a list?
Ans:- We can remove the items from a list using remove() , pop() and clear() methods . With remove method we can remove the first occurence of the given value . With pop menthod we can remove the element at particular index and with the clear method we will remove the all the elements of the list

In [ ]:
a = [1,2,1,1,1,2,4,5]
a.remove(2)
print(a)

[1, 1, 1, 1, 2, 4, 5]

In [ ]:
a = [1,2,1,1,1,2,4,5]
a.pop(2)
print(a)

[1, 2, 1, 1, 2, 4, 5]

In [ ]:
a = [1,2,1,1,1,2,4,5]
a.clear()
print(a)

[]

Describe how list values and string values are identical.
Ans:-The list values and string values follows the same indexing method . we can access elements of list same as accessing elements of string

In [ ]:
l=['d','h','o','n','i']
for i in l:
    print(i,end="")

dhoni

In [ ]:
s='dhoni'
for i in s:
    print(i,end="")

dhoni

In [ ]:
l[3]

'n'

In [ ]:
s[2]

What's the difference between tuples and lists?
Ans : The main difference between tuples and lists is tuples are immutable and lists are mutable means once tuple created means we cannot manipulate the tuple direclty but we can manipulate the list

In [ ]:
t=(1,2,3,4)
print(t[2])

3

In [ ]:
t[2] = 5

TypeError: 'tuple' object does not support item assignment

In [ ]:
l=[1,2,3,4]
print(l[2])

3

In [ ]:
l[2]=5

In [ ]:
l

[1, 2, 5, 4]

How do you type a tuple value that only contains the integer 42?

In [ ]:
t=(42,)

In [ ]:
t[0]

42

In [ ]:
type(t)

tuple

How do you get a list value's tuple form? How do you get a tuple value's list form?

In [ ]:
l=[1,2,3,4]
#To convert it into tuple
t=tuple(l)
print(t)
#To convert again from tuple to list
l=list(t)
print(l)

(1, 2, 3, 4)
[1, 2, 3, 4]

How do you distinguish between copy.copy() and copy.deepcopy()?

In [ ]:
import copy
l1 = [1,2,[2,3],4]
l2=copy.copy(l1)
l2[2][0]=5
print(l1)
print(l2)

[1, 2, [5, 3], 4]
[1, 2, [5, 3], 4]

In [ ]:
import copy
l1 = [1,2,[2,3],4]
l2=copy.deepcopy(l1)
l2[2][0]=5
print(l1)
print(l2)

[1, 2, [2, 3], 4]
[1, 2, [5, 3], 4]

If u observe in copy.copy even if we made some changes in list l2 we are getting those changes in list l1 as well but when u use copy.deepcopy list l2 changes are not affecting l1